@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
    }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-base-300: #27211d;*/
  --color-accent: #e07016; 
}
body{
  background: #27211d;
}
a:hover{
  color: white;
  transition: 0.4s;
}