@import url("https://fonts.cdnfonts.com/css/american-captain");
@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-base-300: #27211d;*/
  --color-accent: #e07016;
  --color-secondary:#27211d;
}
@theme {
  --font-americanCap: "American Captain", sans-serif;
  --font-futuraPT: "Futura PT", sans-serif;
}
.animated_fadeIN_css{
  --animate-duration:1.2s;
}
.animated_fadeIN_css_1{
  --animate-duration: 1.5s;
}
.animated_fadeIN_css_2{
  --animate-duration: 1.7s;
}
.animated_fadeIN_css_3{
  --animate-duration: 2s;
}
body {
  background: #27211d;
}
a.active{
  color:white;
}
a:hover {
  color: white;
  transition: 0.4s;
}
